<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appwork.mandisamiti">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.appwork.application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImagePreviewActivity"
            android:label="Preview"
            android:parentActivityName=".OrderListActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.appwork.ui.addclient.AddClientActivity"
            android:label="Add User"
            android:parentActivityName="com.appwork.ui.client.ClientListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderListActivity"
            android:label="Order List"
            android:parentActivityName=".CalculateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BillDetails"
            android:label="Entry Detail"
            android:parentActivityName=".CalculateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CalculateActivity"
            android:label="Entry"
            android:parentActivityName="com.appwork.ui.client.ClientListActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".AddCommodityActivity" />
        <activity
            android:name=".EntriesActivity"
            android:label="@string/entries"
            android:parentActivityName="com.appwork.ui.client.ClientListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:label="Profile"
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".TransactionLogActivity"
            android:label="Transaction"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.appwork.ui.client.ClientListActivity"
            android:label="Users"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.appwork.ui.auth.RegisterScreenActivity"
            android:label="Register"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.appwork.mandisamiti.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>